h1,h2 {
    color: #A4A400;
    font-family: Lucida Sans Unicode, Helvetica, Arial;
    font-size: 22pt;
    font-weight: bold;
    background-color: #F0F0F0;
    text-decoration: underline;
    letter-spacing: 0.15cm;
}

body {
    max-width: 1000px;
    margin: auto;
    color: #404040;
    font-family: Georgia, Garamond;
}

.pie {
    list-style-image: url("http://www.cs.washington.edu/education/courses/cse190m/09sp/homework/1/pie_icon.gif");
}

.backgroundImage {
    background-image: url("http://www.cs.washington.edu/education/courses/cse190m/09sp/homework/1/silverware.jpg");
}
.yellowBackground {
    background-color: #FFFFA8;
}
a {
    color: #A4A400;
}

.lineThrough {
    text-decoration: line-through;
}
